    /*All elements have no padding or margin*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*Body Styles*/
    
    body {
        color: #39a6b2;
        font-family: Helvetica, Arial sans-serif;
    }
    /*Header*/
    
    .rounded-corners {
        -webkit-border-radius: 10px;
        /* old versions of chrome and safari */
        -moz-border-radius: 10px;
        /* old versions of firefox */
        border-radius: 10px;
        /* standardized browsers */
    }
    
    header {
        background-image: url("../images/hero-bg.jpg");
        background-size: cover;
        background-position: 80%;
        background-attachment: fixed;
        position: sticky;
        top: 0;
        padding: 20px 35px;
        background-color: #39a6b2;
        /* added display flex */
        display: flex;
        /* Justify content space between */
        justify-content: space-between;
        /* using flex wrap to wrap content */
        flex: wrap;
    }
    /*h1 tag in header*/
    
    header h1 {
        /* text shadow */
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        font-size: 36px;
        color: #fce138;
        margin: 0;
        /* removed display inline */
    }
    /*a tag*/
    
    header a {
        color: #fce138;
        text-decoration: none;
    }
    /*header nav styles*/
    
    header nav {
        /*removed float right*/
        margin: 7px 0;
    }
    /* header nav ul styles */
    
    nav ul li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    /*we will make the menu items lined up*/
    
    header nav ul li {
        display: inline;
    }
    /*nav links text styles*/
    
    header nav ul li a {
        /* changed margin added padding */
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 1.55vw;
        /* text shadow */
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    /*section padding*/
    
    section {
        padding: 60px;
    }
    /*Footer styles*/
    
    footer {
        /* added display flex */
        display: flex;
        background: #fce138;
        width: 100%;
        padding: 40px 35px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    /*footer heading 2*/
    
    footer h2 {
        color: #024e76;
        font-size: 30px;
        margin: 0;
    }
    /*footer div copyright symbol*/
    
    footer div {
        text-align: right;
        line-height: 1.5;
    }
    /*footer link style*/
    
    footer a {
        color: #024e76;
    }
    
    .trainers img {
        width: 35%;
    }
    /*Hero section styles*/
    
    .hero {
        background-position: 80%;
        background-attachment: fixed;
        padding: 60px;
        background-image: url("../images/hero-bg.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        /* align items flex start to align vertically with the first element */
        align-items: flex-start;
        /* added display flex,centered the content and allowing wrap content */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /*hero form styles and class*/
    
    .hero-form {
        /* background color is now 80% opaque and is rgba */
        background-color: rgba(252, 225, 56, 80%);
        /* box shadow is now added to the form */
        box-shadow: rgba(0, 0, 0, 0.5);
        /* border radius adds curvature to the box form */
        border-radius: 15px;
        padding: 20px;
        color: #024e76;
        border: solid 3px #024e76;
        /* removed position absolute */
        /* width 40% margin 3.5% */
        width: 40%;
        margin: 3.5%;
    }
    /* hero cta styles created a width etc*/
    
    .hero-cta {
        width: 35%;
        text-align: right;
        margin: 3.5%;
        color: #fff;
        font-size: 18px;
        /* changed line hieght to 1.2 */
        line-height: 1.2;
    }
    /* hero cta heading 2 gave the text some styling*/
    
    .hero-cta h2 {
        /* text shadow */
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-size: italic;
        font-size: 55px;
        color: #fce138;
    }
    /*styling text in hero form*/
    
    .hero-form p {
        margin: 5px 0 15px 0;
    }
    
    .hero-form h3 {
        font-size: 24px;
        margin: 0;
    }
    
    .hero-form p {
        margin: 5px 0 15px 0;
    }
    
    .form-input {
        border: 1px solid #024e76;
        display: block;
        padding: 7px 15px;
        font-size: 16px;
        color: #024e76;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .hero-form label {
        margin: 0 5px;
    }
    
    .hero-form button {
        color: #fce138;
        background-color: #024e76;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 15px;
    }
    /* HERO STYLES END */
    /*What we do section Styles*/
    /* removed intro its not neccessary */
    /* contact form input styles */
    
    .contact-form input,
    .contact-form textarea {
        border-radius: 10px;
    }
    
    .contact-form button {
        border-radius: 10px;
    }
    
    .intro p {
        line-height: 1.7;
        color: #39a6b2;
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
        /* centering text */
        text-align: center;
    }
    /*Steps styles*/
    
    .steps {
        /* removed text align center using flexbox */
        background: #fce138;
    }
    /*Consolidated Rules*/
    /* remove the padding and margins and display */
    
    .section-title {
        /* changed font-size to 48pixels */
        font-size: 48px;
        color: #024e76;
        border-bottom: 3px solid;
        /*centering  */
        padding-bottom: 20px;
        text-align: center;
        margin: 0 auto 35px auto;
        width: 50%;
    }
    
    .primary-border {
        border-color: #fce138;
    }
    
    .secondary-border {
        border-color: #39a6b2;
    }
    /* renamed steps h3 to step h3 */
    
    .step h3 {
        color: #024e76;
        font-size: 46px;
        flex: 1 30%
        /* removed margin-top */
    }
    
    .step-info {
        flex: 2 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .step-text p {
        color: #39a6b2;
        /* changed font-size to 18px */
        font-size: 18px;
    }
    
    .step-text h4 {
        font-size: 26px;
        line-height: 1.5;
        color: #024e76;
    }
    
    .step-img {
        flex: 1 12%;
        margin-right: 20px;
    }
    /* Flexbox styles to each step */
    
    .step {
        margin: 50px auto;
        padding-bottom: 50px;
        width: 80%;
        border-bottom: 1px solid #39a6b2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    /* removed steps img steps span and steps div */
    
    .trainers {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /*trainer styles created a set width*/
    
    .trainer {
        /* margin 20px flex 1 and removed width and overflow is removed */
        flex: 1;
        margin: 20px;
        background: #024e76;
        color: #fce138;
        /*created overflow style*/
    }
    
    .trainer img {
        /* removed float and changed width to 100% */
        width: 100%;
    }
    
    .trainer-bio {
        /* removed float and width, and changed padding to 25px */
        padding: 25px;
        line-height: 1.3;
    }
    
    .trainer-bio h3 {
        font-size: 28px;
    }
    
    .trainer-bio h4 {
        font-weight: lighter;
        /* changed font-size and margin-bottom */
        font-size: 22px;
        margin-bottom: 15px;
    }
    
    .trainer-bio p {
        font-size: 17px;
    }
    /* REACH OUT STYLES START */
    
    .contact {
        /* removed text-align center using flexbox */
        background: #024e76;
    }
    
    .contact h2 {
        color: #fce138;
    }
    /*iframe*/
    
    .contact-info iframe {
        width: 400px;
        height: 400px;
    }
    
    .contact-info div {
        width: 410px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 30px 0 0 60px;
        color: white;
    }
    
    .contact-info h3 {
        color: #fce138;
        font-size: 32px;
    }
    
    .contact-info p,
    .contact-info address {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 20px;
        font-style: normal;
    }
    
    .contact-info a {
        color: #fce138;
    }
    /* REACH OUT STYLES START */
    
    .contact {
        text-align: center;
        background: #024e76;
    }
    
    .contact h2 {
        color: #fce138;
    }
    
    .contact-info iframe {
        width: 400px;
        height: 400px;
    }
    
    .section-title {
        font-size: 55px;
        display: inline-block;
        padding: 0 100px 20px 100px;
        border-bottom: 3px solid;
        margin-bottom: 35px;
        color: #024e76;
    }
    /* hover classes */
    
    header nav ul li a:hover {
        background: #fce138;
        color: #024e76;
        border-radius: 15px;
        text-shadow: none;
    }
    
    .form-input {
        background-color: rgba(255, 255, 255, 0.75);
    }
    
    .form-input:focus {
        background-color: rgba(255, 255, 255, 1);
        outline: none;
    }
    /* create a new rule for focus state */
    
    .hero-form button:hover {
        background-color: #39a6b2;
    }
    /* last step border */
    
    .step {
        border-bottom: 1px solid #39a6b2;
    }
    
    .step:nth-child(even) {
        border-bottom: 1px solid #39a6b2;
    }
    
    .step:last-child {
        border-bottom: none;
    }
    
    .contact-form button:hover {
        color: #fce138;
        background: #39a6b2;
    }
    /* REACH OUT STYLES END */
    
    .contact-info div {
        width: 410px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 30px 0 0 60px;
        color: white;
    }
    
    .contact-info h3 {
        color: #fce138;
        font-size: 32px;
    }
    
    .contact-info p,
    .contact-info address {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 20px;
        font-style: normal;
    }
    
    .contact-info a {
        color: #fce138;
    }
    /* these two colors will override the ones above in .hero */
    
    .hero-secondary {
        background-color: black;
        color: red;
    }
    /* Utility classes */
    
    .text-left {
        text-align: left;
    }
    
    .text-right {
        text-align: right;
    }
    /* using flex row to center */
    
    .flex-row {
        display: flex;
    }
    /* Media Queries styles for smaller devices */
    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    
    @media screen and (max-width: 980px) {
        header {
            position: relative;
            top: 0px;
            padding-bottom: 0;
            justify-content: center;
        }
        header h1 {
            width: 100%;
            text-align: center;
        }
        header nav ul {
            margin-top: 20px;
            width: 100%;
            justify-content: center;
        }
        header nav ul li a {
            font-size: 20px;
        }
        footer h2,
        footer div {
            text-align: center;
            width: 100%;
        }
        /* hero styles */
        .hero-cta,
        .hero-form {
            width: 100%;
            /* 80% opaque background color */
            background-color: rgba(252, 225, 56, 80%);
            /* box shadow */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .hero-cta {
            text-align: center;
        }
        .section-title {
            width: 80%;
        }
        .trainer {
            flex: 0 70%;
        }
        .contact-info iframe {
            flex: 1 100%;
        }
    }
    /* MEDIA QUERY FOR TABLETS AND SMALLER */
    
    @media screen and (max-width: 768px) {
        section {
            padding: 30px 15px;
        }
        .step h3 {
            flex: 1 100%;
            text-align: center;
        }
        .step-info {
            flex: 2 100%;
            text-align: center;
            justify-content: center;
        }
        .step-img {
            flex: 0 32%;
            margin-right: 0;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .step-text {
            flex: 100%;
        }
    }
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    
    @media screen and (max-width: 575px) {
        .hero-form button {
            width: 100%;
        }
        .section-title {
            width: 95%;
        }
        .intro p {
            width: 100%;
        }
        .trainer {
            flex: 0 100%;
        }
        .contact-info {
            text-align: center;
        }
        .contact-info>* {
            flex: 0 100%;
        }
        .contact-form {
            /* contact form order 3 */
            order: 3;
        }
    }