/*All elements have no padding or margin*/
* {
    margin: 0;
    padding: 0;
  }

/*Body Styles*/
body{
    color:#39a6b2;
    font-family: Helvetica, Arial sans-serif;
}
/*Header*/
header{
    padding:20px 35px;
    background-color: #39a6b2;
}
/*h1 tag in header*/
header h1{
    font-weight: bold;
    font-size:36px;
    color:#fce138;
    margin:0;
    display:inline;
}
/*a tag*/
header a{
    color:#fce138;
    text-decoration:none;
}
/*header nav styles*/
header nav{
    float:right;
    margin:7px 0;
}
/*we will make the menu items lined up*/
header nav ul li{
    display:inline;
}
/*nav links text styles*/
header nav ul li a{
    font-size:22px;
    font-weight:lighter;
    margin:0 30px;
}