/*All elements have no padding or margin*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body Styles*/
body{
    color:#39a6b2;
    font-family: Helvetica, Arial sans-serif;
}
/*Header*/
header{
    padding:20px 35px;
    background-color: #39a6b2;
}
/*h1 tag in header*/
header h1{
    font-weight: bold;
    font-size:36px;
    color:#fce138;
    margin:0;
    display:inline;
}
/*a tag*/
header a{
    color:#fce138;
    text-decoration:none;
}
/*header nav styles*/
header nav{
    float:right;
    margin:7px 0;
}
/*we will make the menu items lined up*/
header nav ul li{
    display:inline;
}
/*nav links text styles*/
header nav ul li a{
    font-size:22px;
    font-weight:lighter;
    margin:0 30px;
}

/*Footer styles*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }
/*footer heading 2*/
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
/*footer div copyright symbol*/
footer div{
    float:right;
    text-align:right;
    line-height:1.5;
}
/*footer link style*/
footer a {
    color: #024e76;
  }

/*Hero section styles*/
.hero {
    padding: 60px;
    background-image: url("../images/hero-bg.jpg");
    height:600px;
    background-size: cover;
    background-position:center;
  }  